/node_modules
/public/hot
/public/storage
/public/surat
/public/laporan
/public/foto
/storage/oauth-public.key
/storage/oauth-private.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
